html {
  font-family: sans-serif;
  background: #141414;
  overflow-x: hidden;
  height: max-content;
}
body {
  width: 100%;
  overflow: hidden !important;
  padding-bottom: 2rem;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper {
  min-height: 1rem;
}
