.nav-bar {
  z-index: 100000;
  position: relative;
  padding: 1rem 3rem;
  background: black;
}
.nav-bar__fixed {
  position: fixed;
  top: 0;
  transition: all 0.4s;
  background: black;
  right: 0;
  width: 100vw;
}
