.backdrop {
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.418);
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1000;
  animation: showSlowly 1.5s;
}

.view-detail {
  position: fixed;
  top: 2rem;
  transform: translate(-50%);
  left: 50%;
  z-index: 100000;
  width: 43rem;
  background: #141414;
  animation: showSlowly 1.5s;
  height: max-content;
  overflow-y: scroll;
  height: 90vh;
  padding-bottom: 2rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.418);
}
.view-detail__img {
  width: 100%;
  height: 30rem;
}
.view-detail__body {
  padding: 2rem;
}
.view-detail__heading {
  flex-basis: 50%;
  margin-right: 1rem;
}
.view-detail__heading span {
  margin-right: 2rem;
}

.view-detail__flex {
  display: flex;
  align-items: flex-start;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.view-detail__right {
  flex-basis: 50%;
}

@media (max-width: 700px) {
  .view-detail {
    width: 100%;
    height: 100%;
  }
}
