.more-info-btn {
  background: rgba(255, 255, 255, 0.336);
  color: white;
}
.more-info-btn:hover {
  background: rgba(255, 255, 255, 0.226);
}
.more-info-btn i {
  color: white;
  margin-right: 1rem;
}
