.search {
  display: flex;
  position: relative;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
  color: white;
}
.search__input {
  border: 0px solid white;
  outline: none;
  background: black;
  width: 0;
  padding: 0.6rem 0;
  color: white;
  transition: all 0.4s;
  opacity: 0;
}

.show-search {
  border: 1px solid white;
  padding: 0.6rem 1rem;
  width: 16rem;
  padding-left: 3rem;
  opacity: 1;
}
.search-icon {
  z-index: 2;
  position: relative;
  font-size: 1.2rem;
  margin-right: 1px;
}
.move-right {
  margin-right: -2rem;
}
.nav-bar__input-remove {
  position: relative;
}
.hide-search {
  color: white;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
