.auth-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("https://demo.vodlix.com/images/branding/custom/signin_image.gif?lu=1607692921");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.auth {
  height: 90vh;
  background: rgba(0, 0, 0, 0.75);
  padding: 4rem;
  width: 35vw;
}
.auth__heading {
  font-size: 1.6rem;
  color: white;
}
.auth-form__input {
  display: block;
  padding: 1rem;
  margin-top: 2rem;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  font-size: 1rem;
}
.auth-form__btn {
  width: 100% !important;
  margin-top: 2rem;
}
.auth-form__text {
  font-size: 1rem;
  color: grey;
  margin-top: 2rem;
}
.sign-up-btn {
  color: white;
}
.sign-up-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 800px) {
  .auth {
    width: 60vw;
    height: 70vh;
  }
}

@media (max-width: 400px) {
  .auth {
    width: 80vw;
  }
}
