.icon-container {
  height: 71.5%;
  position: absolute;
  display: flex;
  right: 0;
  background: rgba(0, 0, 0, 0.555);
  align-items: center;
  width: 4rem;
  bottom: 52px;
  z-index: 5;
}
.arrow-icon {
  font-size: 3rem;
  color: white;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.4s;
  display: inline-block;
}
.arrow-icon:hover {
  transform: scale(1.2);
}
