.password {
  height: 100vh;
  background: white;
  width: 100vw;
  line-height: 1.4;
}
.password-content {
  width: 30vw;
  margin: 4rem auto;
}
.password-content__header {
  font-size: 1.4rem;
}
.password-content__header span {
  display: block;
}
.password-content__text {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 1.4rem;
}
.email-input {
  font-size: 1.2rem;
  margin-top: 2rem;
}
.email-input span {
  display: block;
}
.password-content__input {
  border: 1px solid red;
  margin-top: 1rem;
  width: 100%;
}
.password-content__btn {
  width: 100%;
  margin-top: 2rem;
  position: relative;
  height: 3.5rem;
  padding: 0;
}
.password-content__btn:hover {
  background: rgba(255, 0, 0, 0.9);
}
