.desktop {
  display: flex;
  align-items: center;
}
.desktop__left {
  display: flex;
}
.nav-bar__item {
  font-size: 14px;
  list-style: none;
  margin-right: 1rem;
  transition: all 0.4s;
  cursor: pointer;
  align-self: center;
}
.nav-bar__hover:hover {
  color: #b3b390;
}
.logo {
  margin-right: 3rem;
  cursor: pointer;
}
.logo__img {
  width: 4rem;
}
.desktop__right {
  margin-left: auto;
  margin-right: 3rem;
  align-self: center;
  display: flex;
}
.nav-bar__icon {
  font-size: 1.2rem;
  margin-right: 2rem;
}
.desktop__btn {
  width: 5rem !important;
  border-radius: 4px;
  font-size: 0.9rem !important;
  padding: 0 !important;
  height: 2.5rem !important;
}
.desktop-left__items {
  display: flex;
}
.items {
  display: flex;
  position: relative;
}
.nav-bar__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #f3fcff;
}
.nav-bar__active {
  color: green;
}
.show {
  display: flex !important;
}

.mobile {
  color: white;
  display: flex;
  align-items: center;
  list-style: none;
}

@media (max-width: 750px) {
  .desktop-left__items {
    top: 4rem;
    left: -50%;
    width: 20rem;
    position: absolute;
    background: black;
    display: none;
    flex-direction: column;
    justify-content: center;
  }

  .nav-bar__link {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .nav-bar__link:hover {
    background: rgba(128, 128, 128, 0.329);
  }
  .mobile:hover + .desktop-left__items {
    display: flex !important;
  }
  .desktop-left__items:hover {
    display: flex !important;
  }
}

@media (min-width: 750px) {
  .mobile {
    display: none;
  }
}
