.desktop {
  display: flex;
}
.desktop__left {
  display: flex;
}
.nav-bar__item {
  font-size: 14px;
  list-style: none;
  margin-right: 1rem;

  color: #f3fcff;
  transition: all 0.4s;
  cursor: pointer;
  align-self: center;
}
.nav-bar__hover:hover {
  color: #b3b390;
}
.logo {
  margin-right: 3rem;
}
.logo__img {
  width: 4rem;
}
.desktop__right {
  margin-left: auto;
  margin-right: 3rem;
  align-self: center;
}
.nav-bar__icon {
  font-size: 1.4rem;
  margin-right: 2rem;
}
