.movie-category {
  margin: 3rem;
  height: 25rem;
  overflow: hidden;
  position: relative;
  margin-right: 0;
}
.movie-category__img {
  display: inline-block;
  width: 15rem;
  margin-right: 1rem;
  position: absolute;
}
.movie-category__heading {
  margin-bottom: 1rem;
}
