.movie-category {
  margin-top: 2rem;
}
.movie-category__title {
  font-size: 1.4rem;
  color: white;
  margin: 1rem 0;
  cursor: pointer;
  margin-left: -1rem;
}
.movie-category__detail {
  transition: all 0;
  width: 246px;
}
.movie-category__img {
  width: 100%;
  height: 227px;
  display: block;
}
.movie-hovered {
  transition: all 0.3s;
  width: 22rem;
  position: absolute;
  z-index: 10;
  height: 22rem;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.fixed-parent {
  width: 246px;
  height: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
/* Swiper style */
.swiper-container {
  overflow: unset !important;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}
.swiper-button-prev,
.swiper-button-next {
  width: 1rem;
  background-color: rgba(0, 0, 0, 0.377);
  height: 100% !important;
  top: 1.4rem !important;
  width: 3rem !important;
  color: white !important;
  transition: all 0.4s;
  opacity: 0;
}
.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-prev {
  left: -4rem !important;
}
.swiper-button-next {
  right: -4rem !important;
}
.movie-category:hover .swiper-container .swiper-button-next,
.movie-category:hover .swiper-container .swiper-button-prev {
  opacity: 1;
}
.swiper-pagination {
  top: -2.5rem;
  height: max-content;
  z-index: -1;
}
.swiper-pagination-bullet {
  width: 0.8rem !important;
  height: 1.4px !important;
  background-color: white !important;
  border-radius: 0 !important;
}
.swiper-pagination {
  opacity: 0 !important;
  z-index: -1 !important;
}

.movie-category:hover .swiper-container .swiper-pagination {
  opacity: 1 !important;
}
