.movie-category {
  margin-top: 2rem;
}
.movie-category__title {
  font-size: 1.4rem;
  color: white;
  margin: 1rem 0;
  cursor: pointer;
  padding: 0 4rem;
}
.movie-category__detail {
  transition: all 0;
  width: 100%;
}
.movie-category__img {
  width: 100%;
  height: 227px;
  display: block;
}
.movie-hovered {
  transition: all 0.3s;
  width: 22rem;
  position: absolute;
  height: 18rem;
  z-index: 12;
}
.flex {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 0 3rem;
}

.fixed-parent {
  width: 100%;
  height: 227px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.fixed-parent:first-child {
  justify-content: flex-start;
}
/* Swiper style */
.swiper-container {
  overflow: unset !important;
  padding: 0 2rem !important;
}

.swiper-slide {
  display: flex !important;
  flex-direction: column !important;
  align-items: center;
  justify-content: center;
}
.edge:first-child {
  align-items: flex-start !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 1rem;
  background-color: rgba(0, 0, 0, 0.377);
  height: 100% !important;
  top: 1.4rem !important;
  width: 3rem !important;
  color: white !important;
  transition: all 0.4s;
  opacity: 0;
}
.swiper-button-disabled {
  opacity: 0 !important;
}

.swiper-button-prev {
  left: 0 !important;
}
.swiper-button-next {
  right: 0 !important;
}
.movie-category:hover .swiper-container .swiper-button-next,
.movie-category:hover .swiper-container .swiper-button-prev {
  opacity: 1;
}
.swiper-pagination {
  top: -2.5rem;
  height: max-content;
  width: max-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
}
.swiper-pagination-bullet {
  width: 0.8rem !important;
  height: 1.4px !important;
  background-color: white !important;
  border-radius: 0 !important;
}
.swiper-pagination {
  opacity: 0 !important;
  z-index: -1 !important;
}

.movie-category:hover .swiper-container .swiper-pagination {
  opacity: 1 !important;
}

@media (max-width: 1000px) {
  .movie-hovered {
    width: 19rem;
  }
}

@media (min-width: 800px) {
  .edge:nth-child(5n) {
    align-items: flex-end !important;
  }
  .edge:nth-child(5n + 1) {
    align-items: flex-start;
  }
}

@media (max-width: 800px) {
  .swiper-pagination {
    display: none;
  }
  .edge:nth-child(4n) {
    align-items: flex-end;
  }
  .edge:nth-child(4n + 1) {
    align-items: flex-start;
  }
  .movie-hovered {
    width: 22rem;
  }
}

@media (max-width: 600px) {
  .edge {
    align-items: center !important;
  }
  .edge:nth-child(3n) {
    align-items: flex-end !important;
  }
  .edge:nth-child(3n + 1) {
    align-items: flex-start !important;
  }
}

@media (max-width: 800px) {
  .flex {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .flex {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .fixed-parent:nth-child(5n) {
    justify-content: flex-end;
  }
  .fixed-parent:nth-child(5n + 1) {
    justify-content: flex-start;
  }
}

@media (max-width: 800px) {
  .fixed-parent {
    justify-content: center;
  }
  .fixed-parent:nth-child(4n) {
    justify-content: flex-end;
  }
  .fixed-parent:nth-child(4n + 1) {
    justify-content: flex-start;
  }
}

@media (max-width: 600px) {
  .fixed-parent {
    justify-content: center !important;
  }
  .fixed-parent:nth-child(3n + 1) {
    justify-content: flex-start !important;
  }
  .fixed-parent:nth-child(3n) {
    justify-content: flex-end !important;
  }
}
