.display-slider {
  margin-right: 3rem;
}

.display-slider__block {
  display: inline-block;
  width: 1.4rem;
  height: 3px;
  background: grey;
  border-radius: 4px;
  margin-right: 4px;
  transition: all 0.4s;
}
.active-slide {
  background: white;
}
