.sign-up {
  height: 100%;
  margin-top: 20rem;
  color: white;
  width: 45%;
  text-align: center;
}
.sign-up__heading {
  font-size: 3rem;
}
.sign-up__sec-heading {
  font-size: 1.6rem;
  margin: 2rem 0;
  font-weight: 300;
}
.sign-up__text {
  margin-bottom: 1rem;
}
.input-container {
  width: 100%;
}
.sign-up__input {
  width: 100%;
  border: none;
  padding: 1rem;
  outline: none;
  font-size: 1.2rem;
}

.sign-up__input-container {
  display: flex;
}
.sign-up__btn {
  width: 30%;
}
