.loading-spinner {
  width: 2rem;
  border-radius: 50%;
  height: 2rem;
  display: inline-block;
  border-top: 2px solid white;
  animation: spin 1s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
