.display-movie {
  width: 100%;
  overflow: hidden;
  margin: 2rem 0;
}

.container {
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
  margin-left: 4rem;
  display: flex;
}
.display-movie__img {
  height: 30rem;
  margin-right: 2rem;
}
.display-movie__poster {
  width: 25rem;
  display: inline-block;
}

.display-movie__content {
  font-weight: 700;
  flex-basis: 50%;
  align-self: center;
}
.display-movie__btns {
  margin-top: 2rem;
}
.primary-heading {
  font-size: 1.5rem;
  margin-bottom: 2.4rem;
  color: rgba(255, 255, 255, 0.822);
}
.netflix-text {
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 0.822);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .display-movie__img {
    width: 20rem;
  }
  .display-movie__content {
    margin-top: 2rem;
    width: 90%;
    align-self: flex-start;
  }
}
